/*------------------- whole page index.html---------------------*/

* {
   
    margin: 5px; 
  }
/*--------------------- index.html------------------- */

/* index.html header */

.header{
    font-family: cursive;
    font-size: 30px;
    text-shadow: 5px 5px #c9d2da;
    text-align: center;
    color: rgb(156, 134, 177);
}


/* index sub header */
.subheader{
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 24px;
    text-align: center;

}
/* index content */

.content{
    padding: 50px;
}


/* ----------------------- grilledcheese.html ------------------------ */

.gcheader{
    font-family: cursive;
    font-size: 30px;
    text-shadow: 5px 5px #c9d2da;
    text-align: center;
    color: rgb(156, 134, 177);
    padding-top: 10px;

}

/* display grilled cheese image*/

.gcimage{

/*center image*/

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  /*image caption*/

  text-align: center;
    font-style: italic;
    font-size: 12px;

}


   

.wholepage{
    margin: 50px;
    
}
#gcparagraph{
    padding: 20px;
}
.gcsubheader{
    padding: 20px;
    color: rgb(138, 118, 156);
}